body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#meuBotao{
    width: 550px;
    height: 100px;
    background-color: rgb(106, 212, 0);
    cursor: pointer;
    font-size: 30px;
    border: none;
    border-radius: 10px;
}

.imgs{
    display: flex;
    justify-content: center;
    cursor: pointer;  
}

p{
    font-size: 30px;
    color: black;

}
